{% extends 'base.html.twig' %}

{% block title %}Entree index{% endblock %}

{% block body %}
    <h1>Entree index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>Prix</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entree in entrees %}
            <tr>
                <td>{{ entree.id }}</td>
                <td>{{ entree.quantite }}</td>
                <td>{{ entree.prix }}</td>
                <td>{{ entree.date }}</td>
                <td>
                    <a href="{{ path('app_entree_show', {'id': entree.id}) }}">show</a>
                    <a href="{{ path('app_entree_edit', {'id': entree.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_entree_new') }}">Create new</a>
{% endblock %}
